* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-container {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#label {
    font-size: 25px;
    font-weight: bold;
    margin: 0 5px;
}

#display {
    font-size: 20px;
    text-align: right;
    display: block;
    margin: 10px 0px;
    padding: 10px;
    width: 310px;
    border-radius: 5px;
}

#btn-container {
    display: flex;
    gap: 20px;
}

button {
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin: 5px 2px;
    border: 1px solid black;
    border-radius: 5px;
}

#operand-container button {
    background-color: #c0e5e5;
}

button.operators, #btn-per, #btn-eql {
    background-color: #ee5;
}

#btn-dlt, #btn-clr {
    background-color: #d55;
}

#btn-container button:hover {
    background-color: #FFFDD0;
}
